* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
}

#qr {
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    width: 200px;
    transition: max-height 1s;
}

#qr img {
    padding: 10px;
    width: 100%;
}

#qr.show{
    border: 1px solid #d1d1d1;
    margin: 10px auto;
    max-height: 300px;
}

.error {
    animation: shake 0.1s linear 10;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0);
    }
}